.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  margin: 0 auto;
  padding: 30px;
}

header.hero {
  background-image: url("ai_header_edit.png"); /* Replace with your desired image */
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

header h1 {
  font-size: 3em;
  margin-bottom: 20px;
  animation: slideInDown 1s ease-in;
}

header p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

header .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
}

header .btn.secondary {
  background-color: #ddd;
  color: #333;
}

section {
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.feature:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.feature i {
  font-size: 3em;
  margin-bottom: 10px;
}
.benefits {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.benefit-list {
  font-size: 1.2em;
  text-align: center;
}

.benefit-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefit-list li {
  margin-bottom: 10px;
}

.about {
  font-size: 1.2em;
  border-radius: 5px;
  margin-bottom: 30px;
}
.first_container {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.signup, .signin {
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  
}

/* Responsive Design (Optional): Use media queries to adjust styles for different screen sizes */

@media (max-width: 768px) {
header.hero {
  height: 400px;
}

.features-grid, .benefit-list {
  flex-direction: column;
  align-items: center;
}

.feature, .benefit-list li {
  margin: 10px 0;
}

.signup, .signin {
  padding: 30px;
}
}
