.signup {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;  
    justify-content: center; 
    align-items: center;
    min-height: 40vh;
    max-width: 97%;
  }
  .signup-form {
    width: 60%;
  }
  
  .signup h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  .form-group {
    display: flexbox;
    justify-content: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    max-width: 400px;
    @media (max-width: 768px) {
      max-width: 300px;
    }
  }
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
  }
  