.workspace-component {
    width: 100%;
    padding: 10px;
    position: fixed;
    overflow-y: scroll;
    height: 90vh;
    display: flex;
    flex-direction: row;
    @media (max-width: 425px) {
        flex-direction: column-reverse;
    }
}

.menu-tray {
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;

    @media (max-width: 425px) {
        flex-direction: row;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: space-around;
    }
}
.btn-menu {
    width: 100%;
    height: auto; 
}


@media (max-width: 425px) {
    .menu-option-label {
        /* this is visible on every screen except for mobile view */
        visibility: hidden;
    }    
}
.workspace-content-board {
    width: 95%;
    border-style: solid;
    border-color: rgba(122, 243, 41, 0.1);
    background-color: rgba(57, 58, 57, 0.914);
    color: rgba(15, 210, 44, 0.914);
    font-family: cursive;
    font-size: 1.2rem;
}